@font-face {
    font-family: roboto;
    src: url(./fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: moirai;
    src: url(./fonts/MoiraiOne-Regular.ttf);
}

@font-face {
    font-family: marker;
    src: url(./fonts/PermanentMarker-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #394a51;
    font-family: roboto;
    color: #dedede;
}

.container {
    height: 100vh;

    display: grid;
    grid-template-columns: minmax(min-content, 1fr);
    grid-template-rows: min-content 1fr 4fr 100px min-content;
    place-items: center;
    gap: 0.5em;
}

/* HEADER STYLES */

.header {
    background-color: #fdc57b;
    width: 100%;
    height: 50px;
    font-family: marker, sans-serif;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 10px rgba(67, 66, 66, 0.5);

}

/* Form input styles */
.players-tab {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.players-tab form {
    width: 300px;
    text-align: center;
    gap: 8px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
}

form input[type="text"] {
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    margin-top: 0.2em;
}

.player-info label {
    text-transform: uppercase;
}


form button {
    grid-column: 1 / -1;

    padding: 10px;
    background-color: #7fa99b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover,
form button:active {
    background-color: #4f8a76;
}

.score {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 2em;
    margin-bottom: 0.3em;

}

.score>div {
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 50%;
    color: black;

    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
}

#players-turn {
    text-transform: uppercase;
}


/* BOARD */
.board {
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(3, minmax(120px, 1fr));
    grid-template-rows: repeat(3, minmax(120px, 1fr));
    /* width: 300px; */
    /* margin: 50px auto; */
}

.board>div {
    border: 1px solid #fdc57b;
    font-size: 3em;
    font-weight: 600;
    font-family: moirai;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}


/* WIN AND TIE CELLS STYLES */

.winning-cell {
    background-color: #d3fba1;
    color: black;
}

.tie-cell {
    background-color: rgb(219, 67, 67);
}

/* RESET AND NEXT ROUND PANEL */

.control-panel {
    display: flex;
    gap: 2em;
    margin-bottom: 2em;
}

.control-panel button {
    width: 50px;
    height: 50px;
    padding: 8px;
    background-color: #7fa99b;
    color: #dedede;

    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.control-panel #next:hover,
.control-panel #next:active {
    background-color: #4f8a76;
    color: white;
}

.control-panel #reset {
    background-color: rgb(219, 67, 67);
}

.control-panel #reset:hover,
.control-panel #reset:active {
    background-color: red;
    color: white;
}

/* FOOTER */

footer a {
    text-decoration: none;
    color: #7fa99b;
}

footer img {
    width: 15px;
}

footer a:hover {
    color: white;
}